h3{
    font-size: 20px !important;
}

.mainCard{
    width: 800px;
    min-height: 95vh;
}

.inputFiled {
    width: 356px;
    height: 48px;
}

.inputLeft{
    width: 212px;
    height: 48px;
}

.inputRight{
    width: 136px;
    height: 48px;
}

.closeBtn{
    width: 32px;
    height: 32px;
}

.slipCard{
    width: 530px;
    min-height: 95vh;
    background-color: aqua;
}